
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="tooltip">
    <img src="../../assets/build.png" alt="build"><span class="tooltiptext">Built using Angular</span>
  </div>
</div>
  
  <div class="content" role="main">
  
    <p class="title">To me, Design is Everything. ____________</p>
   
    <p class="title-sub bottomspace">Hi, I'm Vishnu Sriraj. Welcome to my page!</p>
    
  <div class="bottomspace"></div>
  
    <!-- Education card  -->
    
  
  
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="https://www.stevens.edu">
        <img src="../../assets/edu.png" alt="Education">
        <span class="title">Stevens Institute of Technology</span> <p class="bottomspace">M.S. Machine Learning | 2020-2021</p>

      </a>
      <a class="card" target="_blank" rel="noopener" href="https://www.kct.ac.in">
        <img src="../../assets/edu.png" alt="Education">
        <span class="title">Kumaraguru College of Technology</span> <p class="bottomspace">B.E. Computer Science and Engineering | 2015-2019</p>
      </a>
    </div>
  
    
  
    <!-- Footer -->
    <footer>
        
          <!-- <div class="github-star-badge">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          </div>
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a> -->
    </footer>
  
    
  
  </div>
  
  
  <router-outlet></router-outlet>